body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("./assets/quiz-background-retro.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.logo {
  max-width: 100%;
  height: auto;
  width: 150px;
  display: block;
  margin: 0 auto;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  position: relative;
  background-color: #0a0a0a;
  padding: 1rem 2rem;
  border-radius: 1rem;
  opacity: 0.85;
}

/* Button container */
.category-selection,
.options {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  max-width: 100%;
  margin: auto;
  background-color: #0a0a0a;
  padding: 1rem;
  border-radius: 1rem;
  opacity: 0.85;
}

/* Button styles */
.category-selection button,
.options .option {
  width: 100%;
  height: 50px;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border: solid 1px #ccc;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.3s, transform 0.2s;
}

@media (min-width: 600px) {
  .category-selection,
  .options {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem 2rem;
  }

  .category-selection button,
  .options .option {
    height: 80px;
    font-size: 1rem;
    padding: 1rem;
    max-width: 250px;
  }
}

@media (min-width: 600px) {
  .category-selection button,
  .options .option {
    min-width: 150px;
  }
}

/* Hover effect */
.category-selection button:hover,
.options .option:hover {
  background-color: #333;
  transform: scale(1.03);
}

.option.disabled {
  pointer-events: none;
  opacity: 1;
}

.option.disabled:hover {
  background-color: inherit;
  transform: none;
}

/* "Next" and "Try Again" button container */
.button-container {
  height: 60px;
  margin-top: 1.5rem;
}

/* "Next" and "Try Again" button styles */
.next-button,
.reset-button {
  padding: 0.8rem 2rem;
  font-size: 1.1rem;
  border-radius: 8px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  margin: 1.5rem 0;
  transition: background-color 0.3s;
  position: absolute;
  bottom: 0;
  min-width: 140px;
  left: 50%;
  transform: translateX(-50%);
}

/* Hover effect */
.next-button:hover,
.reset-button:hover {
  background-color: #555;
}
